<h1 class="text-center display-3 mt-1">ClubHouse Posts</h1>

<div class="container-fluid bg-light rounded">
<div class="container p-3 pb-4">
<% @posts.each do |p|  %>
    <div class="rounded shadow-lg p-4 mt-2">
    <h2 class="text-center"><%= link_to p.title, post_path(p.id), class: "text-muted nav-link " %></h2>
    <% if user_signed_in? %>
        <p class="text-center"> <small class="text-muted">By: <i> <%= p.user.username %> <i> </small></p>
    <% end %>
    </div>
<% end %>
</div>

</div>